<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.refat.chowdhury.myreceipt"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />
    
	<uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    
    <application
        android:allowBackup="true"
        android:backupAgent="TheBackupAgent"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.refat.chowdhury.myreceipt.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data android:name="com.google.android.backup.api_key" 
                   android:value="AEdPqrEAAAAIH01pLP1uMHZSA9eYS0X-AazXze7JGffB9ZPKqw" />
        <activity
            android:name=".LSQLView"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.refat.chowdhury.myreceipt.LSQLVIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".receitView"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.refat.chowdhury.myreceipt.RECEITVIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".deleteRecord"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.refat.chowdhury.myreceipt.DELETERECORD" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
  				<action android:name="android.intent.action.MEDIA_MOUNTED" />
  			<data android:scheme="file" /> 
		</intent-filter>
        </activity>
         <activity
            android:name=".ReportView"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.refat.chowdhury.myreceipt.REPORTVIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GraphView1"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.refat.chowdhury.myreceipt.GRAPHVIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
       
        <activity android:name="org.achartengine.GraphicalActivity" />
         
        
        
    </application>

</manifest>